# API Base URL (Backend web server for custom API endpoints: create-order, verify, geocode)
# Production: https://cremeneatstreet.shop
# Android Emulator Local: http://10.0.2.2:3000
# iOS / Web / Desktop Local: http://localhost:3000
API_BASE_URL=https://cremeneatstreet.shop

# Supabase Backend Configuration
SUPABASE_URL=https://xatewivvfedmugurixwh.supabase.co
SUPABASE_ANON_KEY=sb_publishable_iYyzQLtVJeKYbM0db51rmw_7QgAIlHL

# Payment Gateway Configuration
RAZORPAY_KEY_ID=rzp_test_TYPfKKhlOZTsCk

# AdMob Configuration
ADMOB_BANNER_AD_UNIT_ID_ANDROID=ca-app-pub-3940256099942544/6300978111
ADMOB_BANNER_AD_UNIT_ID_IOS=ca-app-pub-3940256099942544/2934735716
